body{
    background-repeat: no-repeat;
    background-image: url("image/WA\ \(7\).jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0px;
}
img{
width: 110px;
border:10px;
border-style:groove;
border-color: red;
}

h1{
    float:top;
    border-style:groove;
    border-width: 9px;
    border-radius: 10px;
    padding:7px;
    margin-right:50px;
    color: blue;
    border-color: black;
}
a{
    font-size: 20px;
    font-style:normal;
    color: mediumblue;
    border-style:initial;
    border-color: indigo;
    border-width: 7px;
    text-align: center;
    width: 20px;
}

